*{
    text-decoration: none;
    list-style: none;
}

.product-card{
    min-width:10rem;
    height: 10rem;
}

.item-card{
    min-width: 20rem;
}

.flex-row-col{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* image sizes */
.img-sm{
    width: 128px;
    height: 128px;
}

.img-md{
    width: 128px;
    height: 128px;
}

.circle{
    border-radius: 100px;
    border: 2px solid gray;
}
